<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Máster Software Libre Ano II</title>
	<atom:link href="http://mswl2.ghandalf.org/feed/" rel="self" type="application/rss+xml" />
	<link>http://mswl2.ghandalf.org</link>
	<description></description>
	<lastBuildDate>Wed, 02 Mar 2016 11:26:02 +0000</lastBuildDate>
	<language>gl-ES</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
		<item>
		<title>Ola mundo!</title>
		<link>http://mswl2.ghandalf.org/2016/03/02/ola-mundo/</link>
					<comments>http://mswl2.ghandalf.org/2016/03/02/ola-mundo/#comments</comments>
		
		<dc:creator><![CDATA[mswl2]]></dc:creator>
		<pubDate>Wed, 02 Mar 2016 11:26:02 +0000</pubDate>
				<guid isPermaLink="false">http://mswl2.ghandalf.org/?p=1</guid>

					<description><![CDATA[<p>Welcome to Asociación Ghandalf Sites. This is your first post. Edit or delete it, then start blogging!</p>
<p>The post <a href="http://mswl2.ghandalf.org/2016/03/02/ola-mundo/">Ola mundo!</a> first appeared on <a href="http://mswl2.ghandalf.org">Máster Software Libre Ano II</a>.</p>]]></description>
										<content:encoded><![CDATA[<p>Welcome to <a href="http://www.ghandalf.org/">Asociación Ghandalf Sites</a>. This is your first post. Edit or delete it, then start blogging!</p><p>The post <a href="http://mswl2.ghandalf.org/2016/03/02/ola-mundo/">Ola mundo!</a> first appeared on <a href="http://mswl2.ghandalf.org">Máster Software Libre Ano II</a>.</p>]]></content:encoded>
					
					<wfw:commentRss>http://mswl2.ghandalf.org/2016/03/02/ola-mundo/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
	</channel>
</rss>
