<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comentarios en: Introdución	</title>
	<atom:link href="http://mswl2.ghandalf.org/about/feed/" rel="self" type="application/rss+xml" />
	<link>http://mswl2.ghandalf.org</link>
	<description></description>
	<lastBuildDate>Wed, 02 Mar 2016 17:55:08 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	</channel>
</rss>
